<%- include("./partials/header") %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signup" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
            <label for="signupUsername" class="sr-only">Username</label>
            <input id="signupUsername" class="form-control" type="text" name="username" placeholder="username" required autofocus>
            <label for="signupPassword" class="sr-only">Password</label>
            <input id="signupPassword" class="form-control" type="password" name="password" placeholder="password" required>
            <label for="signupFirstName" class="sr-only">First Name</label>
            <input id="signupFirstName" class="form-control" type="text" name="firstName" placeholder="first name">
            <label for="signupLastName" class="sr-only">Last Name</label>
            <input id="signupLastName" class="form-control" type="text" name="lastName" placeholder="last name">
            <label for="signupEmail" class="sr-only">Email</label>
            <input id="signupEmail" class="form-control" type="email" name="email" placeholder="email">
            <label for="signupAvatar" class="sr-only">Avatar</label>
            <input id="signupAvatar" class="form-control" type="text" name="avatar" placeholder="avatar url">
            <label for="signupAdminCode" class="sr-only">Admin Code</label>
            <input id="signupAdminCode" class="form-control" type="text" name="adminCode" placeholder="admin code">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <div class="form-signin">
            <a href="/campgrounds">Go Back</a>
        </div> 
    </div>

<%- include("./partials/footer") %>